* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "space mono", serif;
}

:root {
    --rosa-100: #f9f3fa;
    --rosa-200: #e7c5e4;
    --rosa-300: #bb9eb0;
    --rosa-400: #9f7f96;
    --rosa-500: #7d5e76;
    --rosa-600: #78546f;
    --rosa-700: #663d5f;
    --rosa-800: #582650;
    --light-rosa: #af5599;
    --white: #ffffff;
}

body {
    background-color: var(--rosa-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    background-color: var(--white);
    padding: 2rem;
}

.conta {
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label,
.pessoas label {
    color: var(--rosa-500);
    font-weight: 700;
}

.conta div,
.pessoas div {
    border: 0.4rem;
    background-color: var(--rosa-100);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:  0.3125rem;
}

.conta input,
.pessoas input {
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--rosa-800);
    outline: none;
}

.conta input::placeholder,
.pessoas input::placeholder {
    color: var(--rosa-300);
}

.conta::has(input:focus) div {
    outline: 2px solid var(--light-rosa);
}


.gorjeta div {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1 rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.315rem;
    background-color: var(--rosa-800);
    color: var(--white);
}

.gorjeta #outra {
    width: 100%;
    background-color: var(--rosa-100);
    color: var(--rosa-800);
}

.gorjeta #outra::placeholder {
    color: var(--rosa-300);
}

.pessoas #erro {
    display: none;
}